In [13]:
import pandas as pd
import itertools
!pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\asus\appdata\local\programs\python\python311\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\asus\appdata\local\programs\python\python311\lib\site-packages (from openpyxl) (2.0.0)

In [9]:
df = pd.read_excel("Dataset_Apriori_6_Kolom.xlsx.")
data = df.drop(columns=["ID_Transaksi"])
jumlah_transaksi = len(data)
print("Jumlah Transaksi:", jumlah_transaksi)
data.head()

Jumlah Transaksi: 50

   Beras  Minyak  Gula  Telur  Kopi  Susu
0      1       1     1      0     0     0
1      1       1     0      1     0     0
2      0       0     1      0     1     1
3      1       0     1      1     0     0
4      0       1     1      0     0     0

In [10]:
min_support = 0.2
support_1 = {}

for col in data.columns:
    support = data[col].sum() / jumlah_transaksi
    if support >= min_support:
        support_1[col] = support

support_1

{'Beras': np.float64(0.4),
 'Minyak': np.float64(0.36),
 'Gula': np.float64(0.48),
 'Telur': np.float64(0.28),
 'Kopi': np.float64(0.22),
 'Susu': np.float64(0.24)}

In [11]:
support_2 = {}

for itemset in itertools.combinations(support_1.keys(), 2):
    count = 0
    for _, row in data.iterrows():
        if row[itemset[0]] == 1 and row[itemset[1]] == 1:
            count += 1

    support = count / jumlah_transaksi
    if support >= min_support:
        support_2[itemset] = support

support_2

{('Beras', 'Telur'): 0.24}

In [12]:
min_confidence = 0.6
rules = []

for (A, B), supp_ab in support_2.items():
    conf_A_B = supp_ab / support_1[A]
    conf_B_A = supp_ab / support_1[B]

    if conf_A_B >= min_confidence:
        rules.append((A, B, conf_A_B))

    if conf_B_A >= min_confidence:
        rules.append((B, A, conf_B_A))

rules

[('Beras', 'Telur', np.float64(0.6)),
 ('Telur', 'Beras', np.float64(0.857142857142857))]